@import '@fs-design/pantry/src/shared/variables/spacing/spacing';
@import '@fs-design/pantry/src/shared/variables/colors/colors';
@import '@fs-design/pantry/src/shared/variables/type/type';

.modalContent {
	height: 100%;
	text-align: center;
	margin-top: $spacing-7;

	& > :first-child {
		margin-bottom: $spacing-7;
	}
}

.actionMenu {
	text-align: center;
	flex-grow: 1;
	margin-top: $spacing-7;

	@media screen and (max-width: 768px) {
		display: flex;
		align-items: flex-end;

		button {
			flex: 1 1;
		}
	}
}

.message {
	display: inline-block;
	font-family: $font-family-body;
	font-style: normal;
	font-weight: $font-weight-medium;
	font-size: $font-size-small;
	color: $color-gray-700;
	line-height: 150%;
	margin-bottom: $spacing-7;
}
