@import '@fs-design/pantry/src/base/variables';

.Sidebar {
	@media screen and (max-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 7;
	}

	&Overlay {
		@media screen and (max-width: 768px) {
			background-color: rgba(0, 0, 0, 0.3);
			width: 100%;
			height: 100%;
			position: inherit;
		}
	}

	&Content {
		// enable sticky sidebar for card details
		position: sticky;
		top: 64px;
		height: calc(100vh - 64px);
		overflow: auto;

		right: 0;
		width: 380px;
		padding: 24px 32px;
		background-color: #fff;
		border-left: 1px solid $l-base-gray-lightest;

		@media screen and (max-width: 768px) {
			top: 0;
			position: absolute;
			width: 488px;
			height: 100%;
		}

		@media screen and (max-width: 568px) {
			width: 100%;
			padding: 16px;
		}
	}
}
