@import '@fs-design/pantry/src/index';

.backButton {
	display: flex;
	align-items: flex-end;

	& > :first-child {
		path {
			fill: $color-blue-400;
		}
		margin-right: $spacing-2;
	}

	& > span {
		display: inline-block;
		font-family: $font-family-heading;
		font-size: 16px;
		line-height: 22px;
	}
}
