@import '@fs-design/pantry/src/base/variables';

.PayBill {
	max-width: 465px;
	margin: 0 auto;

	font-family: $font-family-body;
	font-style: normal;
	font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;

	.backButtonContainer {
		margin-left: -($spacing-4);
		margin-bottom: -9px;
	}

	.Section {
		margin: $spacing-6 0;
	}

	&Title {
		display: flex;
		align-items: flex-end;

		font-family: $font-family-heading;
		font-size: 20px;
		line-height: 140%;
		font-feature-settings: 'tnum' on, 'lnum' on;
		color: $l-base-gray-darkest;
	}

	&Description {
		font-weight: $font-weight-normal;
		font-size: 14px;
		line-height: 150%;
		color: $l-base-gray;
	}

	.note {
		margin-top: $spacing-3;

		&.dark {
			color: $l-base-gray-darker;
		}
	}

	.BankDetailsTitle {
		font-weight: $font-weight-semibold;
		font-size: 16px;
		line-height: 150%;
		color: $l-base-gray-darker;
	}

	.Actions {
		display: flex;
		flex-wrap: wrap;
	}

	.PaymentOptions {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 8px;
		padding: $spacing-3 $spacing-0;

		@media screen and (max-width: $breakpoint-small) {
			flex-direction: column;
		}

		&Item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: $spacing-3;
			gap: 4px;
			flex: 1;

			border: 1px solid $l-base-gray-lightest;
			border-radius: 4px;
			cursor: pointer;
			transition: border 300ms ease-out;

			color: $l-base-gray;

			&.selected {
				border: 1px solid $l-primary;
			}

			&Label,
			&Amount {
				font-size: 14px;
				line-height: 150%;
			}

			&Label {
				font-weight: $font-weight-normal;
				font-size: 14px;
			}

			&Amount {
				font-weight: $font-weight-medium;
				font-size: 16px;

				.CurrencyCode {
					font-size: 10px;
				}
			}
		}
	}

	.CustomAmount {
		&Title {
			font-weight: $font-weight-medium;
			font-size: 14px;
			line-height: 150%;
			display: flex;
			align-items: flex-end;
			color: $l-base-gray-darker;
		}

		&Input {
			margin: $spacing-3 0 $spacing-5;

			[class='form-control'] {
				padding-bottom: $spacing-0;
			}
		}

		&Charges {
			font-weight: $font-weight-normal;
			font-size: 12px;
			line-height: 150%;
			display: flex;
			align-items: center;
			color: $l-base-gray-darker;

			ul {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding-left: $spacing-5;
				gap: 8px;
			}
		}
	}
}
