@import '@fs-design/pantry/src/base/index';
@import '@fs-design/pantry/src/components/form-control/index';
@import '@fs-design/pantry/src/components/input/index';
@import '@fs-design/pantry/src/components/input-group/index';

.formControl {
	text-transform: capitalize;
}

.form-label {
	font-size: 14px !important;
	color: $l-base-gray-darker !important;
}

.biggerlabel {
	color: $l-base-gray !important;
}

.biggerText {
	font-size: 16px !important;
	color: $l-base-gray-darker !important;
	text-transform: capitalize !important;
	font-weight: $font-weight-medium !important;
}

.disableLabel {
	color: $l-base-gray !important;
}

.inputRadioContainer {
	display: flex;
	align-items: center;
	height: 100%;

	.inputRadio {
		display: flex;
		align-items: center;
		margin-right: $spacing-4;
		input[type='checkbox'],
		input[type='radio'] {
			position: static !important;
			width: 1.25em;
			height: 1.25em;
			margin: 0;
			opacity: 1 !important;
			margin-right: $spacing-4;
		}
	}
}
