@import '@fs-design/pantry/src/base/variables';

.StatisticsCard {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: 1;
	padding: 16px;
	justify-content: space-between;
}

.body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 14px;

	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		min-width: 160px;

		.title {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
			color: #4a4a4a;
		}

		.price {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 0px;

			.amount {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 150%;
				font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
				color: #222222;

				.currencyCode {
					font-size: 12px;
				}
			}

			.otherText {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 150%;
				display: flex;
				align-items: flex-end;
				font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
				color: #757575;
			}
		}
	}

	.chart {
		display: flex;
		justify-content: flex-end;
		flex: 1;
		min-width: 52px;
		max-width: 90px;
		height: 100%;

		img {
			max-width: 100%;
		}
	}
}

.actions {
	display: flex;
	flex-direction: row;
	gap: 24px;

	button {
		padding: 0;
		font-size: 16px;
	}
}
