engine-strict=true
registry=https://registry.npmjs.org/
@fs-design:registry=https://nexus.fsmkcommand.center/repository/npm-group/
//nexus.fsmkcommand.center/repository/npm-group/:_authToken=NpmToken.${NPM_TOKEN}
