@import '@fs-design/pantry/src/base/variables';

.container,
.right_section,
.action {
	display: flex;
}

.right_section,
.action {
	justify-content: space-between;
}

.container {
	div {
		margin-bottom: $spacing-2;
	}
}

.left_section {
	flex: 1;

	.content {
		font-size: 14px;
		font-weight: $font-weight-normal;

		span {
			color: $color-gray-700;
			font-size: 12px;
		}

		.divider {
			color: $color-gray-700;
		}
	}
}

.header {
	margin-bottom: $spacing-7 !important;

	.name {
		font-size: 16px;
		font-weight: $font-weight-medium;
		color: $color-gray-900;
	}

	.description {
		font-size: 14px;
		color: $color-gray-700;
	}
}

.right_section {
	flex-direction: column;
	min-width: 150px;

	button {
		font-size: 16px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}
