@import '@fs-design/pantry/src/base/variables';

.EmptyStatements {
	background-color: #f6f6f6;
	padding: 56px 34px;

	font-family: $font-family-body;
	font-style: normal;
	line-height: 150%;

	text-align: center;

	&Title {
		font-size: 16px;
		font-weight: $font-weight-medium;
		color: $l-base-gray-darker;
		margin-top: $spacing-3;
	}

	&Desc {
		font-size: 14px;
		font-weight: $font-weight-normal;
		color: $l-base-gray;
	}
}
