@import '@fs-design/pantry/src/shared/variables/spacing/spacing';
@import '@fs-design/pantry/src/shared/variables/colors/colors';
@import '@fs-design/pantry/src/shared/variables/type/type';

.transactionRow {
	padding: 16px;
	display: flex;
	cursor: pointer;

	.categoryWrapper {
		display: flex;
		flex-direction: column;
		gap: 4px;
		width: 50%;
		line-height: 150%;

		.merchantName {
			font-family: $font-family-heading;
			font-size: $font-size-default;
		}

		.categoryTypeWrapper {
			font-family: $font-family-body;
			font-style: normal;
			font-weight: $font-weight-normal;
			font-size: $font-size-caption;
			display: flex;
			gap: 16px;

			img {
				vertical-align: middle;
				padding-right: 4px;
			}
		}
	}

	.cardHolderDetails {
		display: flex;
		width: 25%;
		gap: 4px;
		flex-direction: column;
		font-family: $font-family-body;
		font-style: normal;
		line-height: 150%;

		.cardHolderName {
			font-weight: $font-weight-medium;
			font-size: $font-size-small;
		}

		.maskedCardNumber {
			font-weight: 400;
			font-size: $font-size-caption;
		}
	}

	.amountDetails {
		display: flex;
		width: 25%;
		font-family: $font-family-body;
		font-style: normal;
		font-weight: $font-weight-medium;
		font-size: $font-size-default;
		line-height: 24px;
		justify-content: flex-end;
		gap: 10px;

		button {
			align-self: flex-start;
			padding: 0;
		}
	}

	.creditTransaction {
		color: $l-success;
	}
}

.selected {
	background: #f6f6f6;

	button {
		background: #f6f6f6;
	}
}
