.PageWithSidebar {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.PageWithSidebarColumns {
		display: flex;
		flex-direction: row;
		flex-grow: 1;

		.PageWithSidebarColumns__list {
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			padding: 24px 32px;
		}
	}
}
