@import '@fs-design/pantry/src/base/variables';

.sidebar-header-component {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: $spacing-5;

	button {
		padding: 0;
	}

	.sidebar-header-component-title {
		flex-grow: 1;
		padding-left: $spacing-2;
		color: $l-base-gray-darkest;
	}
}
