@import '@fs-design/pantry/src/index';

.optionContainer {
	display: flex;
	align-items: flex-start;
	padding: 16px;
	background: $color-white;
	border-radius: 8px;
	justify-content: space-between;
	gap: $spacing-5;
	border: 1px solid $color-gray-200;
	font-family: 'Inter';
	font-style: normal;
}

.title {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: $color-gray-900;
}

.description {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: $color-gray-700;
	word-break: break-word;
}

.cardCountContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $spacing-2;
}

.cardCount {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;
	font-size: 10px;
	line-height: 150%;
	color: $color-gray-900;
}

.userType {
	font-weight: 500;
	font-size: 10px;
	line-height: 150%;
	color: $color-gray-700;
	background: $color-gray-100;
	border-radius: 4px;
	padding: 2px 4px;
}

.selected {
	border: 1px solid $color-gray-200;
	background: $color-blue-000;
}
