@import '@fs-design/pantry/src/base/variables';

.WelcomeBox {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	gap: 10px;

	.greeting {
		display: flex;
		flex-direction: column;
	}

	.welcome {
		font-family: $font-family-body;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 150%;
		display: flex;
		align-items: center;
		font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
		color: #222222;
	}

	.name {
		font-family: $font-family-heading;
		font-size: 16px;
		line-height: 150%;
		display: flex;
		align-items: center;
		font-feature-settings: 'tnum' on, 'lnum' on;
		color: #222222;
	}
}
