@import '@fs-design/pantry/src/base/variables';

.SectionHeader {
	display: flex;
	flex-direction: row;
	flex: 1 auto;
	justify-content: space-between;
	align-items: baseline;
	padding: 0px;
	gap: 24px;

	font-family: $font-family-heading;
	font-feature-settings: 'tnum' on, 'lnum' on;

	button {
		padding: 0;
	}

	.title {
		font-size: 20px;
		line-height: 140%;
		color: $l-primary-darkest;
	}

	.link {
		font-size: 16px;
		line-height: 150%;
		color: $l-primary;
	}
}
