@import '@fs-design/pantry/src/base/variables';

.container {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.btn {
	width: 60px;
	height: 5px;
	position: relative;
	background: #cccccc;
	border-radius: 50px;
	border: solid 1px #cccccc;
	outline: none;
}

.onBtn {
	background: #28e4ce;
	border: solid 1px #28e4ce;
}

.circle {
	position: absolute;
	top: -7px;
	left: 0;
	width: 30px;
	height: 30px;
	background: #8f8f8f;
	border-radius: 40px;
	transition: all 0.2s cubic-bezier(0, 0, 0.46, 1.82);
	transition: all 0.2s cubic-bezier(0.24, 1.74, 0.92, 0.85);
}

.on {
	left: 82px;
	margin-left: -54px;
	background: #06c0a6;
}

.onTxt,
.offTxt {
	margin-left: 5px;
}

.onTxt {
	color: #757575;
}

.offTxt {
	color: #7c7c7c;
}
