@import '@fs-design/pantry/src/base/variables';

.EmptyTransactionsBox {
	margin-bottom: $spacing-5;

	font-family: 'Inter';
	font-style: normal;
	font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;

	display: flex;
	flex-direction: row;

	background: #eaf4fe;
	border-radius: 8px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	align-items: center;

	&Image {
		display: block;
		padding: 0 5px;
		margin-right: $spacing-5;
	}

	&Content {
		padding: 24px 20px 24px 0;
	}

	&Text {
		font-weight: 500;
		font-size: 12px;
		line-height: 150%;
		color: #4a4a4a;
		margin-bottom: $spacing-3;
	}

	button {
		padding: 0;
		display: flex;
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		color: $l-primary;
	}
}
