@import '@fs-design/pantry/src/base/variables';

.QuickActions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.actions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 348px;
	margin-left: -16px;

	.action {
		width: 116px;
		margin-bottom: 20px;
	}
}
