@import '@fs-design/pantry/src/base/variables';
@import '@fs-design/pantry/src/components/layout/grid';

.outer_container {
	position: relative;
	width: 20px;
	cursor: pointer;
}

.inner_container {
	position: absolute;
	top: 25px;
	z-index: 999;
	right: 0;
	min-width: 130px;
	background: white;
	padding: $spacing-2;
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
	:hover {
		background: #f1f1f2;
	}
	div {
		padding: $spacing-2;
	}
}
