@import '@fs-design/pantry/src/base/variables';

.AvailableBalance {
	font-family: 'Inter';
	font-style: normal;
	font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;

	&Header {
		display: flex;
		align-items: center;
		margin-bottom: $spacing-3;

		line-height: 150%;
		font-weight: 500;

		button {
			padding: 0;
			font-size: 14px;
			color: $l-primary;
		}

		&Title {
			flex-grow: 1;
			font-size: 12px;
			color: $l-base-gray;

			button {
				margin-left: 5px;
			}
		}
	}

	&Content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&Amount {
		font-family: $font-family-heading;
		font-size: 20px;
		line-height: 140%;
		font-feature-settings: 'tnum' on, 'lnum' on;
		color: $l-base-gray-darkest;
		margin-bottom: $spacing-5;
	}

	&Limit {
		margin-bottom: $spacing-4;

		&Bar {
			background-color: #f6f6f6;
			border-radius: 3px;
			overflow: hidden;

			&Progress {
				background-color: $l-success;
				width: 25%;
				height: 6px;
			}
		}
	}

	&Spendings {
		line-height: 150%;

		&Currency {
			font-weight: 400;
			font-size: 12px;
			color: $l-base-gray;
		}

		&Amount,
		&Slash {
			font-weight: 500;
			font-size: 16px;
			color: $l-base-gray-darker;
		}

		&Slash {
			margin: 0 $spacing-2;
		}
	}
}
