@import '@fs-design/pantry/src/base/variables';

.add-card-box-component {
	position: relative;
	background-color: #f6f6f6;
	padding: 35px 20px 35px 0;

	font-family: 'Inter';
	font-style: normal;
	line-height: 150%;
	font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;

	display: flex;
	flex-direction: row;
	align-items: center;

	@media screen and (max-width: 568px) {
		padding: 16px 20px 16px 0;
	}

	.add-card-box__cards_image {
		position: absolute;
		right: 8px;
		top: 8px;
	}

	.add-card-box__icon {
		padding: 21px;

		svg path {
			fill: #4a4a4a;
		}
	}

	.add-card-box__title {
		font-weight: 600;
		font-size: 14px;
		color: #222222;
	}

	.add-card-box__desc {
		font-weight: 500;
		font-size: 12px;
		color: #4a4a4a;
	}

	.add-card-box__link {
		font-weight: 600;
		font-size: 14px;
		color: $l-primary;
	}
}
