@import '@fs-design/pantry/src/base/variables';

.left_section {
	flex: 1;

	.text {
		font-size: 14px;
		font-weight: $font-weight-normal;

		span {
			color: $color-gray-700;
			font-size: 12px;
		}

		.divider {
			color: $color-gray-700;
		}
	}

	.head {
		margin-bottom: $spacing-7 !important;

		.name {
			font-size: 16px;
			font-weight: $font-weight-medium;
			color: $color-gray-900;
		}

		.description {
			font-size: 14px;
			color: $color-gray-700;
		}
	}
}
