@import '@fs-design/pantry/src/base/variables';

.BillDetails {
	max-width: 465px;
	margin: 0 auto;

	.backButtonContainer {
		margin-left: -($spacing-4);
		margin-bottom: -9px;
	}

	.Section {
		margin: $spacing-6 0;
	}

	.UnderstandBillButton {
		margin-top: $spacing-5;

		button {
			padding: 0;
			font-size: 12px;
		}
	}

	&Title {
		font-family: $font-family-heading;
		font-size: 20px;
		line-height: 140%;
		display: flex;
		align-items: flex-end;
		font-feature-settings: 'tnum' on, 'lnum' on;
		color: $l-base-gray-darkest;
	}

	&Description {
		font-family: $font-family-body;
		font-style: normal;
		font-weight: $font-weight-normal;
		font-size: 14px;
		line-height: 150%;
		font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
		color: $l-base-gray;
	}

	&Data {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding: 20px 16px;
		background: #f6f6f6;
		border-radius: 8px;
		gap: 20px;

		&Item {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: $spacing-0;
			gap: 8px;

			&Title {
				font-family: 'Inter';
				font-style: normal;
				font-weight: $font-weight-normal;
				font-size: 14px;
				line-height: 150%;
				font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
				color: $l-base-gray-darker;
			}

			&Value {
				font-family: $font-family-body;
				font-style: normal;
				font-weight: $font-weight-medium;
				font-size: 16px;
				line-height: 150%;
				text-align: right;
				font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
				color: $l-base-gray-darker;

				.CurrencyCode {
					font-family: $font-family-body;
					font-size: 12px;
					color: $l-base-gray;
				}
			}
		}

		&Statement {
			display: flex;
			justify-content: space-between;

			button {
				margin: -($spacing-3) - ($spacing-4);

				svg {
					path {
						fill: $l-base-gray-darker;
					}
				}
			}
		}
	}

	&Alert {
		display: flex;

		> div {
			border-radius: 8px;
			flex-basis: 100%;

			> div > div {
				font-family: $font-family-body;
				font-style: normal;
				font-weight: $font-weight-medium;
				line-height: 150%;
				font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
			}
		}
	}
}
