@import '@fs-design/pantry/src/base/variables';

.Sidebar {
	&Header {
		margin: 20px 16px 0 $spacing-4;
		display: flex;
		justify-content: space-between;
	}

	&ToggleDrawer {
		display: none;
		@media screen and (max-width: 768px) {
			display: block;
			margin-right: 100px;
		}
	}
}

.container {
	margin: auto $spacing-4;

	.appName {
		font-size: 20px;
		color: $l-base-gray-darkest;
		font-weight: $font-weight-medium;
	}

	.user,
	.salesID,
	.country {
		font-size: 14px;
		color: $l-base-gray-darkest;
	}

	.salesID {
		color: $l-base-gray;
	}
}

.rule {
	border: 0;
	clear: both;
	display: block;
	width: 100%;
	background-color: #e0e0e0;
	height: 1px;
}
