@import '@fs-design/pantry/src/base/variables';

.AvailableCashbackSmallBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: $spacing-2 $spacing-3;
	gap: 4px;
	background: $l-primary-lightest;
	border-radius: 8px;

	.cashbackAmount {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		.cashbackTitle,
		.cashbackCurrency {
			font-family: $font-family-body;
			font-style: normal;
			font-weight: $font-weight-medium;
			line-height: 150%;
			font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
			color: $l-base-gray;
		}

		.cashbackTitle {
			font-size: 10px;
			display: flex;
			align-items: center;
		}

		.cashbackCurrency {
			font-size: 12px;
			color: $color-yellow-800;

			display: flex;
			align-items: baseline;
			gap: 3px;

			.currencyCode {
				font-weight: $font-weight-normal;
				font-size: 8px;
			}
		}
	}
}
