@import '@fs-design/pantry/src/base/variables';

.understandCardSpending {
	display: flex;
	flex-direction: column;

	ul li,
	p {
		font-family: $font-family-body;
		font-style: normal;
		font-weight: $font-weight-normal;
		line-height: 150%;
	}

	p {
		font-size: 14px;
		color: $l-base-gray;
		margin: $spacing-6 auto;
	}

	ul {
		padding-left: 1.2em;

		li {
			font-size: 16px;
			color: $l-base-gray-darker;
			margin: $spacing-5 auto;

			span {
				font-weight: $font-weight-medium;
			}
		}
	}
}
