@import '@fs-design/pantry/src/base/variables';
@import '@fs-design/pantry/src/components/modal/_index.scss';

.modalContainer {
	composes: modal-container is-open;

	.extraWidth {
		width: 640px !important;
		max-width: 100%;
	}
}

.modal {
	composes: modal;
	border-radius: $spacing-5;
}

.modalContent {
	composes: modal__content;

	.modalBody {
		margin: $spacing-2 0;
	}
}

.modalHeader {
	composes: modal__header;
	line-height: 140%;
	color: $l-base-gray-darkest;
	font-family: $font-family-heading;
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing-3;

	& > button {
		padding: $spacing-1;
		align-self: baseline;
	}

	h5 {
		margin-bottom: $spacing-4;
	}
}

.actionMenu {
	composes: modal__actions;
	padding: $spacing-5 0;
	margin-top: 0;
	margin-bottom: -24px;
}
