@import '@fs-design/pantry/src/base/variables';

.ActivateCardBox {
	display: flex;
	flex-direction: column;

	&Text {
		margin-bottom: 20px;

		font-family: $font-family-body;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		color: $l-base-gray;
	}
}
