@import '@fs-design/pantry/src/base/variables';

.CreditCard {
	position: relative;
	display: flex;
	flex-direction: column;

	&Image {
		background-image: url('../../ManageCards/assets//elevate-card.png');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
		width: 100%;

		&.is-locked {
			background-image: url('../../ManageCards/assets//elevate-card-grey.png');
		}

		&::before {
			display: block;
			content: '';
			padding-top: 63.1687242798%;
		}
	}

	&Details {
		position: absolute;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 20px 28px;
		z-index: 1;
		width: 300px; // making this 100% causes issue on the card details

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		transform-origin: bottom left; // this is to scale the card

		font-family: $font-family-body;
		font-style: normal;
	}

	.dotContainer {
		width: 45px;
		height: 25px;
		line-height: 140%;
		letter-spacing: 2px;
		margin-left: 1px;
		margin-right: 7.5px;
	}

	&Number,
	&Name,
	&Secrets {
		font-weight: 600;
		line-height: 150%;
		color: #fff;
	}

	&Number {
		font-size: 20px;
		letter-spacing: 1px;
		margin-bottom: -8px;

		> .number {
			margin-left: 2px;
			margin-right: 3px;
		}
	}

	&Name {
		font-size: 21px;
		letter-spacing: 0.15px;
	}

	&Secrets {
		font-size: 18px;
		letter-spacing: -0.25px;

		display: flex;
		flex-direction: row;

		.label {
			height: 16px;
			font-size: 8px;
			font-weight: 400;
			letter-spacing: 0.25px;
			text-transform: uppercase;
		}

		.number {
			height: 25px;
			font-size: 18px;
			font-weight: 600;
		}
	}

	&ValidThru {
		width: 180px;
	}
}
