@import '@fs-design/pantry/src/base/index';
@import '@fs-design/pantry/src/components/card/index';
@import '@fs-design/pantry/src/utilities/index';

.cashback-page {
	margin: 0 auto 20px;
	max-width: 700px;

	.card {
		margin-bottom: 20px;
	}

	.banner {
		background: url(./images/cashback_detail_background.png) no-repeat top center;
		background-size: cover;
		padding: 50px 0 0;
		margin-bottom: 20px;
		position: relative;

		.dollar-icon {
			position: absolute;
			top: 5px;
			right: 20px;
			width: 130px;
			height: 96px;
		}

		.available-cashback {
			font-size: 14px;
		}

		.cashback-amount {
			span {
				font-size: 1.5em;
				font-weight: bold;
			}
		}

		.total-cashback {
			font-size: 14px;

			span {
				font-weight: bold;
			}
		}

		.card {
			position: relative;

			.smiley-icon {
				position: absolute;
				top: -20px;
				right: 15px;
			}
		}

		.update-frequency {
			padding: 10px 20px;
			background-color: $l-primary;
			font-size: 14px;
		}
	}

	.card {
		margin-bottom: 20px;

		.cashback-amount {
			color: $color-green-400;
		}

		.cashback-period {
			font-size: 11px;
			margin-left: 5px;
			color: $color-gray-700;
		}
	}

	.howto-earn {
		background-color: $color-yellow-000;
		color: $color-yellow-700;
		font-weight: bold;
		font-size: 12px;
		border-radius: 25px;
	}

	.merchant-icons {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		gap: 10px 20px;
		margin: 10px 0;

		.merchant-icon {
			margin: 5px 0;

			img {
				display: inline-block;
				width: 100%;
			}

			.merchant-title {
				text-align: center;
				font-size: 11px;
				color: $color-gray-700;
				margin-top: 5px;
			}
		}
	}

	.card-details-link {
		font-size: 13px;

		a {
			color: inherit;
			display: block;
			border-bottom: 1px solid $l-base-gray-lighter;
			padding: 10px 0;
			text-decoration: none;

			span {
				float: right;
				font-size: 3rem;
				line-height: 33%;
			}
		}
	}

	.t_and_c {
		font-size: 10px;
		color: $l-base-gray;
		margin: 20px 0;
	}

	.redeem-btn {
		.redeem-condition {
			font-size: 12px;
			text-align: center;
			color: $color-gray-600;
			margin-top: 5px;
		}
	}
}
