@import '@fs-design/pantry/src/shared/variables/spacing/spacing';

.transactionTable {
	.transactionRowGroups {
		overflow: auto;
		height: calc(100vh - 200px);
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: $spacing-6;
		padding-right: 16px;
	}
}
