@import '@fs-design/pantry/src/base/variables';
@import '@fs-design/pantry/src/components/navigation-bar/_index.scss';

.Header {
	composes: nav;

	&Bar {
		composes: navbar;
		min-height: auto;
	}

	&NavTrigger {
		button {
			padding: 0 $spacing-4 0 0;
		}
	}

	&PageTitle {
		font-family: $font-family-body;
		font-style: normal;
		font-weight: $font-weight-medium;
		font-size: 16px;
		line-height: 140%;
		color: $l-base-gray-darkest;
	}
}
