@import '@fs-design/pantry/src/base/variables';
@import '@fs-design/pantry/src/components/layout/_index.scss';

.StickyHeader {
	composes: row;

	display: block;
	position: sticky;
	top: 64px;

	padding: 12px 0;
	background-color: white;
	z-index: 2;
}
