@import '@fs-design/pantry/src/shared/variables/spacing/spacing';
@import '@fs-design/pantry/src/shared/variables/colors/colors';
@import '@fs-design/pantry/src/shared/variables/type/type';

.modalContent {
	height: 100%;
	text-align: center;
}

.actionMenu {
	text-align: center;
	flex-grow: 1;

	@media screen and (max-width: 768px) {
		display: flex;
		align-items: flex-end;

		button {
			flex: 1 1;
		}
	}
}
