@import '@fs-design/pantry/src/base/variables';

.TransactionsList {
	display: flex;
	flex-direction: column;

	&Items {
		margin-bottom: $spacing-5;
	}

	button {
		padding: 6px 12px;
		border-radius: 4px;
		color: $l-primary;

		&,
		&:hover {
			box-shadow: none;
			border: none;
			background-color: $l-primary-lightest;
		}
	}
}
