@import '@fs-design/pantry/src/base/variables';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: $spacing-6 0;

	.selectSection {
		width: 180px;
		div {
			padding-bottom: 0;
		}
		@media screen and (max-width: $breakpoint-medium) {
			width: 100%;
		}
	}
}

.searchBar {
	display: flex;
	width: 600px;
	div {
		padding-bottom: 0;
	}
	button {
		box-shadow: none;
	}
	@media screen and (max-width: $breakpoint-medium) {
		width: 100%;
	}
}

.rightPad {
	padding-right: $spacing-4;
	width: 320px;
	@media screen and (max-width: $breakpoint-medium) {
		width: 100%;
		padding-right: 0;
	}
}

.sortFilter {
	display: flex;
	font-size: $font-size-small;
	justify-content: flex-end;
	div {
		width: 150px;
	}
	select {
		background: none;
		border: none;
		font-size: $font-size-small;
		margin-left: $spacing-4;
	}
}

.addruleBtn {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
