@import '@fs-design/pantry/src/shared/variables/spacing/spacing';
@import '@fs-design/pantry/src/shared/variables/colors/colors';
@import '@fs-design/pantry/src/shared/variables/type/type';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1.6rem;
	border-radius: 0.4rem;
	background: $color-blue-000;
	width: 100%;

	& > input[type='radio'] {
		right: 0.7rem;
		top: 0.7rem;
		opacity: 1;
		height: 1.8rem;
		width: 1.8rem;
	}
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	& > :first-child {
		margin-right: $spacing-2;
	}

	& > span {
		font-family: $font-family-heading;
		font-size: 20px;
		line-height: 140%;
		color: $color-gray-900;
	}
}

.description {
	font-family: $font-family-body;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 150%;
}
