@import '@fs-design/pantry/src/base/variables';
@import '@fs-design/pantry/src/components/form-control/index';

.formControl {
	composes: form-control;
}

.fields {
	display: flex;

	& > :first-child {
		min-width: 12rem;
		width: max-content;
		margin-right: $spacing-2;
	}

	& > div {
		padding-bottom: 0;
	}
}

.formLabel {
	composes: form-label;
}

.formControlError {
	composes: form-control__error;
}

.hasError {
	composes: has-error;
}
