@import '@fs-design/pantry/src/base/variables';

.emptyTransactions {
	background-color: $l-primary-lightest;
	padding: 56px 34px;
	font-family: $font-family-body;
	font-style: normal;
	line-height: 150%;
	text-align: center;

	.title {
		font-size: $font-size-default;
		font-weight: $font-weight-medium;
		color: $l-base-gray-darker;
		margin-top: $spacing-3;
	}

	.description {
		font-size: $font-size-small;
		font-weight: $font-weight-normal;
		color: $l-base-gray;
	}
}
