@import '@fs-design/pantry/src/index';

.formContainer {
	composes: container;
	padding: 1.2rem;
}

.container {
	display: block;
	margin: 29px auto;

	& > button {
		padding: 6px;
	}
}

.header {
	font-size: 20px;
	line-height: 140%;
	color: $color-gray-900;
	font-family: $font-family-heading;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $spacing-3;

	& > button {
		padding: 2px;
	}
}

.message {
	display: inline-block;
	font-family: $font-family-body;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: $color-gray-700;
	line-height: 150%;
	margin-bottom: $spacing-6;
}

.actionMenu {
	text-align: right;
}

.backButton {
	display: flex;
	align-items: flex-end;

	& > :first-child {
		path {
			fill: $color-blue-400;
		}
		margin-right: $spacing-2;
	}

	& > span {
		display: inline-block;
		font-family: $font-family-heading;
		font-size: 16px;
		line-height: 22px;
	}
}
