@import '@fs-design/pantry/src/shared/variables/spacing/spacing';

.transactionRowGroup {
	display: flex;
	flex-direction: column;

	.rowHeader {
		background: #f6f6f6;
		padding: 4px 8px;
		z-index: 1;
		position: sticky;
		top: 0;
		margin-bottom: $spacing-3;
	}
}
