@import '@fs-design/pantry/src/base/variables';

.myCards {
	display: flex;
	flex-direction: column;
	gap: 9px;

	@media screen and (max-width: $breakpoint-small) {
		flex: 1;
	}

	min-width: 300px;

	.myCard {
		display: flex;
		flex-direction: column;
		flex: 1 auto;

		.card {
			margin-bottom: 8px;
		}
	}

	.name {
		font-family: $font-family-body;
		font-size: 16px;
		font-weight: $font-weight-medium;
		line-height: 150%;
		font-feature-settings: 'tnum' on, 'lnum' on;
		color: $l-base-gray-darkest;
		margin-bottom: 5px;

		span {
			color: $l-base-gray;
			font-family: $font-family-body;
		}
	}

	.role {
		font-family: $font-family-body;
		font-style: normal;
		font-weight: $font-weight-medium;
		font-size: 12px;
		line-height: 150%;
		font-feature-settings: 'tnum' on, 'lnum' on, 'cv08' on;
		color: $l-base-gray;
	}
}
