@import '@fs-design/pantry/src/base/variables';

.DueAmountBox {
	display: flex;
	flex-direction: column;
	background: #f6f6f6;
	box-sizing: border-box;
	border: 1px solid #f6f6f6;
	border-radius: 8px;

	@media screen and (max-width: $breakpoint-small) {
		background: none;
		border: 1px solid #e0e0e0;
	}
}
