@import '@fs-design/pantry/src/base/variables';
@import '@fs-design/pantry/src/components/navigation-bar/_index.scss';

.NavMenu {
	composes: nav-menu;
	display: block;

	&Items {
		composes: nav-menu__items;
		gap: 16px;
		padding: 0;
	}

	// &Item {
	// composes: nav-menu__item;
	// margin-left: 0 !important;

	// a {
	// 	padding: 0 !important;
	// 	background: none !important;
	// }
	// }

	&Active {
		font-weight: bold;
	}

	&Icon {
		height: $spacing-7;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
