@import '@fs-design/pantry/src/base/variables';

.page {
	background: #fff;
	padding: $spacing-5 $spacing-7;
	margin: $spacing-2;
	height: calc(100vh - 70px);
	max-height: 100%;
	display: flex;
	flex-direction: column;

	.headNav {
		button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 80px;

			svg {
				path {
					fill: $l-primary;
				}
			}
		}
	}

	.headtext {
		h5 {
			color: $l-base-gray-darkest;
			svg {
				path {
					fill: $l-base-gray-darker;
				}
			}
		}
	}
}

.cardOuterContainer {
	overflow: auto;
	flex: 1;
	overflow-x: hidden;
}

.emptyCardContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.publishBtn {
	align-self: flex-end;
	margin-top: $spacing-4;
}
