@import '@fs-design/pantry/src/base/variables';

.Statements {
	padding: $spacing-6 $spacing-7;

	@media screen and (max-width: 768px) {
		padding: 16px;
	}

	&Title {
		padding: 0 12px;
	}

	.DueAmountAlertBoxContainer {
		margin-bottom: $spacing-6;
	}
}
